<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>catergory</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1><%= category %> Menu</h1>
  
    <ul>
      <% menuItems.forEach(function(item) { %>
        <li>
          <h2><%= item.name %> - $<%= item.price %></h2>
          <p>Rating: <%= item.rating %>/5</p>
          <p>Details: <%= item.details %></p>
        </li>
      <% }) %>
    </ul>


    
</body>
</html>